@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Iniciar sessão";
}

<div id="areaDeCaixaReserva" style="margin-left: 20%; ">
    <!--caixa transparente com conteúdo não transparente-->
    <div id="caixaLarga">

        <h4 style="text-align:center;">@ViewData["Title"]</h4>
       
                    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" style="margin-left: 30%;">

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <p>Insira o Email:</p>
                                <div class="col-md-10">
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <p>Insira a Password:</p>
                                <div class="col-md-10">
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <div class="checkbox">
                                        <label asp-for="RememberMe">
                                            <input asp-for="RememberMe" />
                                            @Html.DisplayNameFor(m => m.RememberMe)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                    <button type="submit" id="mainbtn" style="width:200px; margin-left:10%;">Iniciar sessão</button>
                            </div>
                            <p>
                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" style="text-align: center;">Registar Conta</a>
                            </p>
                            <p>
                                <a asp-action="ForgotPassword" style="text-align: center;">Esqueceu a Password?</a>
                            </p>
                    </form>
             </div>
    </div>

            @section Scripts {
                @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
            }
