@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Alterar definições de conta";
}

<div class="container">
        <div id="areaDeCaixaReserva" style="margin-left: 20%; ">
        <!--caixa transparente com conteúdo não transparente-->
        <div id="caixaLarga">

            <ul class="nav nav-tabs" style="width: 550px;  margin-bottom: 20px; float:left;">
                <li class="active"><a href="#">Definições de conta</a></li>
                <li><a asp-area="" asp-controller="Manage" asp-action="Preferences">Preferências</a></li>
            </ul>
            <br>
            <h4 style="text-align:center;">@ViewData["Title"]</h4>

            <form asp-controller="Manage" asp-action="ChangePassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="conteudoCaixaTransparente">
                <p>
                    Email:
                    <input asp-for="newEmail" class="form-control" />
                    <span asp-validation-for="newEmail" class="text-danger"></span>

                    Username:
                    <input asp-for="newUsername" class="form-control" />
                    <span asp-validation-for="newUsername" class="text-danger"></span>
                </p>
                <p>
                    Primeiro Nome:
                    <input asp-for="newFirstName" class="form-control" />
                    <span asp-validation-for="newFirstName" class="text-danger"></span>
                    Ultimo Nome:
                    <input asp-for="newLastName" class="form-control" />
                    <span asp-validation-for="newLastName" class="text-danger"></span>
                </p>
                <p>
                    Password Antiga:
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>

                    Nova Password:
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>

                    Confirme Password:
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </p>
                <br />
                <button type="submit" id="mainbtn" style="width:250px; margin-left:10%;">Confirmar Alterações</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}